#colophon {
	background: url('@{imgUrl}/footerlist-bg.png') top center;
	color: @footerColor;
	a {
		color: @footerColor;
		&:hover {
			color: @white;
		}
	}
	#footer-widget {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.widget-title {
		color: @white;
		.font-size(26);
		font-weight: 400;
	}
	.footer-list{
		list-style: none;
		padding: 0;
		li {
			line-height: 30px;
			padding-left: 20px;
			background: url('@{imgUrl}/spr-fitnessblog.png') no-repeat;
			background-position: -224px -89px;
		}
		&.topics {
			overflow: hidden;
			width: 100%;
			li {
				width: 46%;
				margin-right: 4%;
				float: left;
			}
		}
	}
	#site-info {
		background: url('@{imgUrl}/black-transparent.png');
		padding: 30px 0;
		text-align: center;
		color: @white;
		.font-size(12);
		a {
			color: @white;
			&:hover {
				color: @footerColor;
			}
		}
		p {
			margin-bottom: 0;
		}
	}
}