.widget {
	margin-bottom: 25px;
	&.rating-widget {
		text-align: center;
		.widget-title{
			.font-size(14);
			padding: 10px;
			text-align: center;
			background: @blue;
			color: @white;
			margin: 0;
		}
		.rating-wrap {
			padding: 10px;
			border: 1px solid @borderColor;
			background: @white;
			.stars {
				margin: 10px 0;
				.icon-star {
					.font-size(16);
					color: #cbd3d5;
					&.checked {
						color: #ffba00;
					}
				}
			}
		}
		p {
			margin: 0;
			color: #4c4c4c;
		}
	}
	&.comment-count-wrap {
		background: @brandColor;
		color: #fff;
		padding: 15px 10px;
		text-align: center;
		.comment-count {
			display: block;
			.font-size(30);
			color: @white;
			text-align: center;
			padding-top: 5px;
			margin: 0 auto 10px;
		}
	}
	&.likeboxes {
		min-height: 260px;
		background: @white;
		padding: 10px;
	}
}
.widget-nav {
	margin-bottom: 25px;
	.menu {
		list-style: none;
		padding: 0;
		li {
			a {
				background: @brandColor;
				color: @white;
				display: block;
				padding: 10px;
				border-bottom: 1px solid @white;
				&:hover {
					background: darken(@brandColor, 10%);
					text-decoration: none;
				}
			}
		}
	}
}